<%= render 'jumbotron_show'%>

<div class="container">
  <div class="row justify-content-center mb-4 mt-3">
    <h1>Nos articles</h1>
  </div>
  <div class="row justify-content-center mb-5 mt-1" >
    <%= link_to "Ajouter un produit à ma boutique", new_item_path(:shop_id => @shop.id), :class=>"fas fa-store" %>
  </div>
  <div class="row row-cols-1 row-cols-md-3 justify-content-center">
    <% @shop.items.each do |item| %>
      <% if !item.is_archived %>
        <div class="text-center" id="grid-col-<%= item.id %>">
          <%= render 'items/card', item: item %>
          <div class="column justify-content-center">
            <%= link_to "Modifier le produit", edit_item_path(item.id), :class => "btn btn-info"%>
            
            <%= render 'items/plus_minus_quantity_available', item: item %>
            <%= button_to "Archiver cet objet", item_path(item.id), :method => :delete, :class => "btn btn-danger" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<%# <%= button_to "Ajouter au panier", cart_path(current_user.customer.cart.id), :method => :put, :class => "btn btn-info btn-lg", params: {item_id: item.id, operation: "add"} %>%>