<div>
<%= @items.length%> Types d'objets différents
<% @items.each do |cart_item| %>
  <%= cart_item.cart_quantity %> Objets de nom :  <%= cart_item.item.name %> prix individuel de l'objet : <%= cart_item.item.price %> prix total des <%= cart_item.cart_quantity %> objets: <%= cart_item.return_total_price %>
<% end %>
Prix total du panier: <%= @items_total_price %>
Nom du shop: <%= @shop.name%>
Adresse du maker: <%= @shop.maker.address.complete_address%>
 Adresse du client: <%=  %>
//  l'adresse de customer n'est pas encore créée car on n'a pas le formulaire mais ce sera : current_user.customer.address

</div>

<%= form_tag carts_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: $5.00</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="500"
          data-locale="auto"></script>
<% end %>