<div class="row">
  <div class="col-6">
    <%= f.label :prénom %>
  </div>
  <div class="col-6">
    <%= f.label :nom %>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <%= f.text_field :first_name, class: "form-control", placeholder: (@user.customer.address.first_name if @user.customer.address) %>
  </div>
  <div class="col-6">
    <%= f.text_field :last_name, class: "form-control",  placeholder: (@user.customer.address.last_name if @user.customer.address) %>
  </div>
</div>

<%= f.label :complément %>
<%= f.text_field :address_line_2, class: "form-control", placeholder: (@user.customer.address.address_line_2 if @user.customer.address) %>

<div class="row">
  <div class="col-3">
    <%= f.label :n° %>
  </div>
  <div class="col-9">
    <%= f.label :adresse %>
  </div>
</div>
<div class="row">
  <div class="col-3">
    <%= f.text_field :street_number, class: "form-control", placeholder: (@user.customer.address.street_number if @user.customer.address) %>
  </div>
  <div class="col-9">
    <%= f.text_field :address_line_1, class: "form-control", placeholder: (@user.customer.address.address_line_1 if @user.customer.address) %>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <%= f.label :code_postal %>
  </div>
  <div class="col-6">
    <%= f.label :ville %>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <%= f.text_field :zip_code, class: "form-control", placeholder: (@user.customer.address.zip_code if @user.customer.address) %>
  </div>
  <div class="col-6">
    <%= f.text_field :city, class: "form-control", placeholder: (@user.customer.address.city if @user.customer.address) %>
  </div>
</div>

<div class="actions mt-5">
  <%= f.submit "Valider", class: "btn btn-lg btn-info btn-block" %>
</div>
