<% if @user.customer.address%>
<div class="alert alert-success">L'adresse enregistrée est valide</div>
<% else %>
<div class="alert alert-warning">L'adresse n'est pas valide. Veuillez la compléter et cliquer sur valider l'adresse.</div>
<% end %>
<div class="row">
  <div class="col-6">
    <%= f.label :prénom %>
  </div>
  <div class="col-6">
    <%= f.label :nom %>
  </div>
</div>
<div class="row mb-3">
  <div class="col-6">
    <%= f.text_field :first_name, class: "form-control", value: (@user.customer.address.first_name if @user.customer.address) %>
  </div>
  <div class="col-6">
    <%= f.text_field :last_name, class: "form-control",  value: (@user.customer.address.last_name if @user.customer.address) %>
  </div>
</div>



<div class="row">
  <div class="col-12">
    <%= f.label :adresse %>
  </div>
</div>
<div class="row mb-3">
  <div class="col-12">
    <%= f.text_field :address_line_1, class: "form-control", value: (@user.customer.address.address_line_1 if @user.customer.address) %>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <%= f.label :code_postal %>
  </div>
  <div class="col-6">
    <%= f.label :ville %>
  </div>
</div>
<div class="row mb-3">
  <div class="col-6">
    <%= f.text_field :zip_code, class: "form-control", value: (@user.customer.address.zip_code if @user.customer.address) %>
  </div>
  <div class="col-6">
    <%= f.text_field :city, class: "form-control", value: (@user.customer.address.city if @user.customer.address) %>
  </div>
</div>
<%= f.label :address_line_2, 'Complément d\'adresse (optionnel)' %>
<%= f.text_field :address_line_2, class: "form-control", value: (@user.customer.address.address_line_2 if @user.customer.address) %>
<div class="actions mt-5">
  <%= f.submit "Valider l'adresse", class: "btn btn-lg btn-info btn-block" %>
</div>
