<div class="card item-card-container align-items-center m-3 p-2">
  <h5 class="card-title m-3"> <%= item.shop.name %> </h5>
  <%if item.pictures.attached? %>
    <%= image_tag item.pictures[0], class: "card-img img-responsive" %>
  <% else %>
    <%= image_tag "logo.png", class: "card-img img-responsive w-75" %>
  <% end %>

  <div class="card-body">
  <h6 class="card-title"> <%= item.name %> </h6>
  <%= link_to "Détails", item_path(item.id), :class=>"btn btn-primary"%>
  <p class="card-text text-muted mt-3"><%= number_to_currency(item.price, :unit => "€ ", separator: ",") %></p>
  </div>
</div>
