<%# <div class="card item-card-container m-3 p-2 rounded-lg">
   <div class="img-wrapper">
      <%if item.pictures.attached?
        <%= image_tag item.pictures[0], class: "card-img-top img-fluid w-100 rounded mx-auto d-block"
      <% else
        <%= image_tag "logo.png", class: "card-img-top img-fluid w-100 rounded mx-auto d-block"
      <% end
        <div class="bg-primary text-white mt-3"> <h5><%= item.shop.name </h5> </div>
    </div>

  <div class="card-body">
    <h6 class="card-title"> <%= item.name </h6>
    <%= link_to "Détails", item_path(item.id), :class=>"btn btn-primary"
    <p class="card-text text-muted mt-3"><%= number_to_currency(item.price, :unit => "€ ", separator: ",") </p>
  </div>
</div> %>


<%# <div class="card">
    <div class="img-wrapper">
        <img class="card-img-top" src="images/mytopimage.png"/>
        <div class="img-overlay"> <h2>Text Over Image</h2> </div>
    </div>
    <div class="card-body">
        <h2 class="card-title">My Card</h2>
        <p class="card-text">My Card Text</p>
    </div>
</div> %>

 <%# <div class="view overlay">
    <img src="https://mdbootstrap.com/img/Photos/Others/forest-sm.jpg" class="img-fluid " alt="smaple image">
    <div class="mask flex-center rgba-red-strong">
      <p class="white-text">Strong overlay</p>
    </div>
  </div> %>

    <div class="card d-flex flex-column mb-3">
      <div class="image justify-content-between d-flex flex-column">
          <%if item.pictures.attached? %>
          <%= image_tag item.pictures[0], class: "card-img-top rounded" %>
        <% else %>
          <%= image_tag "#{rand(5)}.jpg", class: "card-img-top img-fluid rounded mx-auto d-block" %>
        <% end %>
           <h3 class="card-title text-white p-2 mb-0"> <%= item.name %> </h3>
          <div class="bg-primary text-white sticked-bottom d-flex align-items-center justify-content-center"> <h5 class="justify-self-center mb-0 align-self-center"><%= item.shop.name %></h5> </div>

      </div>
      
      <div class="details p-3 rounded-right">
        <div class="d-flex flex-column justify-content-center">
          <h4 class="card-title"> <%= item.name %> </h4>
          <div class="description-content text-center">
            <%= item.description %>
          </div>
          <%= link_to "Détails", item_path(item.id), :class=>"btn btn-primary mt-3 btn-lg btn-block"%>
          <div class="card-text text-muted div-1"><%= number_to_currency(item.price, :unit => "€ ", separator: ",") %></div>
          <div class="absolute-bottom rounded p-2"> <%= link_to "#{item.shop.name}", shop_path(item.shop.id), :class => "btn btn-secondary btn-block"%> </div>
        </div>
      </div>
    </div>
